#myTable {
    width: 100% !important;
    background-color: white !important;
    color: #000 !important;
}

#myTable th,
#myTable td {
    border: 1px solid #ddd !important;
    padding: 12px !important;
    text-align: center !important;
}

#myTable th {
    background-color: #4CAF50 !important;
    color: white !important;
}